<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{msg}}
    <form method="post" action="/">
        <p>Create keys</p>
        <label for="addres_key">addres_key</label><br>
        <input type="text" id="addres_key" name="addres_key"><br>
        <label for="private_key">private_key</label><br>
        <input type="text" id="private_key" name="private_key"><br>
        <label for="train_model">train_model</label><br>
        <input type="submit" value="Submit">
    </form>
    {{keys}}
</body>

</html>