<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/getloan">
        <p>Get Loan</p>
        <label for="amount">amount</label><br>
        <input type="text" id="amount" name="amount"><br>
        <label for="private_key">Sender private_key</label><br>
        <input type="text" id="private_key" name="private_key"><br>
        <input type="submit" value="Submit">
    </form>
    <br><br><br><br>
    <form method="post" action="/payloan">
        <p>Pay Loan</p>
        <label for="amount">amount</label><br>
        <input type="text" id="amount" name="amount"><br>
        <label for="private_key">Sender private_key</label><br>
        <input type="text" id="private_key" name="private_key"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>