.container-donation{
    background-color: #1E1E30;
    text-align: center;
    margin: 30px 10% ;
    padding: 10%;
    color: white;
}

.title-donation{
    font-size: 200%;
}
.content-donation{
    padding: 30px;
    color: #E0DDDD;
}

.button-donation{
    background-color: #161625;
    border: none;
    padding: 20px;
    border-radius: 10px;
    color: #E0DDDD;
}
.Modal1Display{
    margin-top: 50px;
}